<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMovers Leaderboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>EcoMovers Leaderboard</h1>
        <p>Track Your Impact, Compete for Change!</p>
    </header>
    <main>
        <section id="leaderboard">
            <h2>Top Contributors</h2>
            <ol class="leaderboard-list">
                <li>
                    <span class="name">John</span>
                    <span class="score">100</span>
                </li>
                <li>
                    <span class="name">Jane</span>
                    <span class="score">90</span>
                </li>
                <li>
                    <span class="name">Alice</span>
                    <span class="score">80</span>
                </li>
                <li>
                    <span class="name">Bob</span>
                    <span class="score">70</span>
                </li>
                <li>
                    <span class="name">Eva</span>
                    <span class="score">60</span>
                </li>
            </ol>
        </section>
           
    </main>
    <footer>
        <p>Top Contributors of Enviroment Health</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
